.genericBody{
    background:0;
    width: 100%;
    overflow: hidden;
    background-color: #003f6a !important;
}

.contentBox{
    background-color: #8c8c8c;
    margin: 0px 100px 50px 100px;
    display: -webkit-flex;
    display: flex;
}

.active{
    background-color:green;
    border: 2px solid white;
    border-radius: 25px;

}

.topBox{
    height: 29%;
    background-color: #005066;
    text-align: center;
}

.midBox{
    height: 29%;
    margin-top: 5%;
    background-color: #007393;
    text-align: center;
}

.bottomBox{
    height: 29%;
    margin-top: 5%;
    background-color: #008cb3;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #00c5d4;
}

ul {
    background-color: #333;
}