.genericBody{
    background:0;
    width: 100%;
    /*background-color: #003056 !important;*/
    background: linear-gradient(#91662F,#FBF295, #C9A23A);
    overflow-x: hidden;
}

.contentBox{
    background-color: #B6C3CD;
    margin: 0px 100px 50px 100px;
    display: -webkit-flex;
    display: flex;
    width:85vw;
    
}

.active{
    background-color:green;
    border: 2px solid white;
    border-radius: 25px;
}

.maptest{
    height:100%;
}

.map#map{
    background-color: rgba(0,48,86,.3);
}

.mapView{
    height:100%;
}
.topBox{
    height: 29%;
    background: radial-gradient(#7F96A9,#003056);
    text-align: center;
    font-size: 1.2vw;
    box-shadow: 5px 5px rgba(0,48,86,.3);
    position:relative;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.midBox{
    height: 29%;
    margin-top: 5%;
    background: radial-gradient(#7F96A9,#003056);
    text-align: center;
    font-size: 1.2vw;
    box-shadow: 5px 5px rgba(0,48,86,.3);
    position:relative;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.bottomBox{
    height: 29%;
    margin-top: 5%;
    background: radial-gradient(#7F96A9,#003056);
    text-align: center;
    font-size: 1.2vw;
    box-shadow: 5px 5px rgba(0,48,86,.3);
    position:relative;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.dropdown-content a:hover {
    background: linear-gradient(#91662F,#FBF295, #C9A23A);
}

.tableHeader, .tableFooter{
    background-color: #4E6F89;
}
.ticketLayout {
    background-color: #7F96A9;
}

.ticketView {
    background-color: #C9A23A;
    border:2px solid #C9A23A; 
    padding:5px;color:white; 
    font-weight:bold;

}

.ticketClose{
        background-color: #003056;
        border:2px solid #003056;
        padding:5px;
        color:white;
        font-weight:bold;

}
 .txtLoading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/Ticket_System_v2/Iconography/loadingGIF_atlantean.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}