@font-face {
font-family: 'Odin Bold';
font-style: normal;
font-weight: normal;
src: local('Odin Bold'), url('../fonts/Odin-Rounded---Bold.woff') format('woff');
}

body {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.profileInfo {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

#profileHeader{
    -webkit-margin-before: 0em;
    -webkit-margin-after: .10em;
    margin-left:23%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

#changePasswordInfo{
	-webkit-margin-before: 0em;
    -webkit-margin-after: .75em;
    margin-left:10%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

#changePasswordHeader{
    -webkit-margin-before: 0em;
    -webkit-margin-after: .75em;
    margin-left:10%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.passwordChange{
	display: inline-block;
    background-color: #111111;
    margin-left: 20%;
    margin-right: 20%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.securityQuestionChange{
	display: inline-block;
    background-color: #111111;
    margin-left: 10%;
    margin-right: 10%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}
.passwordLabel{
	color: #818181;
}

#changePasswordButton, #changeSecurityQuestionsButton {
    background-color: #8C8C8C;
    color: #333333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

#button {
    background-color: #8C8C8C;
    color: #333333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left:10%;
    font-variant: small-caps;
    font-family: "Odin Bold";
}
#securityQuestion1, #securityQuestion2{
    width: 100%;
    font-family: "Bookman Old Style";
}

.passwordChange, .securityQuestionChange{
    display: inline-block;
    margin-left:20%;
    margin-right:20%;
}

#oldPassword, #password1, #password2, #answer1, #answer2 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#profileImage{
    margin-left:20%;
    height: 25%;
}

#errorMessages, #resetMessage{
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-family: "Odin Bold";
}