.genericBody{
    background:0;
    width: 100%;
    background-color: #1B371A !important;
    overflow-x: hidden;
}

.contentBox{
    background-color: #8c8c8c;
    margin: 0px 100px 50px 100px;
    display: -webkit-flex;
    display: flex;
    width:85vw;
    
}

.active{
    background-color:green;
    border: 2px solid white;
    border-radius: 25px;
}

.maptest{
    height:100%;
}

.mapView{
    height:100%;
}
.topBox{
    height: 29%;
    background-color: #448b41;
    text-align: center;
    font-size: 1.2vw;
    box-shadow: 5px 5px #717171;
    position:relative;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.midBox{
    height: 29%;
    margin-top: 5%;
    background-color: #55ad52;
    text-align: center;
    font-size: 1.2vw;
    box-shadow: 5px 5px #717171;
    position:relative;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.bottomBox{
    height: 29%;
    margin-top: 5%;
    background-color: #77be74;
    text-align: center;
    font-size: 1.2vw;
    box-shadow: 5px 5px #717171;
    position:relative;
    font-variant: small-caps;
    font-family: "Odin Bold";
}

.dropdown-content a:hover {
    background-color: #77be74;
}

/*
ul {
    background-color: #333;
}
*/
.color1{
    background-color: #75BBB8;
}
.color2{
    background-color: #107A76;
}
.color3{
    background-color: #443020;
}
.color4{
    background-color: #C8681B;
}
.color5{
    background-color: #432021;
}
.color6{
    background-color: #3DB737;
}
.color7{
    background-color: #FD9EA1;
}
.color8{
    background-color: #C61A1F;
}
.color9{
    background-color: #FFCA9F;
}