.genericBody{
    background:0;
    width: 100%;
    
    background-color: #1B371A !important;
}

.contentBox{
    background-color: #8c8c8c;
    margin: 0px 100px 50px 100px;
    display: -webkit-flex;
    display: flex;
    
}

.active{
    background-color:green;
    border: 2px solid white;
    border-radius: 25px;
}

.maptest{
    height:100%;
}

.mapView{
    height:100%;
}
.topBox{
    height: 29%;
    background-color: #448b41;
    text-align: center;
}

.midBox{
    height: 29%;
    margin-top: 5%;
    background-color: #55ad52;
    text-align: center;
}

.bottomBox{
    height: 29%;
    margin-top: 5%;
    background-color: #77be74;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #77be74;
}


ul {
    background-color: #333;
}