/*  Name: Style.css
    Edits:
          - 8/23/2017 Andrea Moorman
                 The CSS formatting for html, body, p, .panel-body-custome, .map-container, .stats-container, #contents,
                 navbar-custom, panel-heading-custom, footer, and footer-custom
*/

html, body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

body, html, .panel-body-custom, .map-container, .stats-container, #contents {
    height: 100%;
}

.navbar-custom {
    background-color: #093254; /* This is a navy blue color */
}

.panel-heading-custom {
    background-image: none;
    background-color: #093254; /* This is a navy blue color */
    color: #337ab7; /* This is a lighter blue color */
}

#contents {
    padding: 100px;
    bottom: 0;
}

.map-container {
    float: left;
    width: 70%;
    background-color: #AD9867; /* This is a dark tan color */
    padding: 0;
}

.stats-container {
    float: right;
    width: 25%;
    background-color: #AD9867; /* This is a dark tan color */
}

footer {
    text-align: center;
}

.footer-custom {
    display: inline;
}

 
