@font-face {
font-family: 'Odin Bold';
font-style: normal;
font-weight: normal;
src: local('Odin Bold'), url('../fonts/Odin-Rounded---Bold.woff') format('woff');
}

body {
            font-variant: small-caps;
font-family: "Odin Bold";}
* {
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
 /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index:20; /* Sit on top */
            padding-top: 2%; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            /*height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            vertical-align:top;
        }
        
        .modal-body{
            width:100%;
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 70%;
        }
        
        .modal-content td {
            vertical-align:top;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
        .locationMap{
             width:100%; 
             height:100%; 
             overflow:visible; 
             position:relative;
             float:right;
        }
        
       
        .theBox{
            
            display: block !important;
            clear:both;
            
        }
        
        
        .card-1 {
            border:2px solid grey; background-color:white; border-radius: 10px; width:20%; padding:10px;display:inline-block; margin:20px 15px 20px 30px; vertical-align:top; text-align:center;
        }
        
        .card-number {
            font-size:20px;
            margin-bottom:5px;
        }
        
        .card-type{
            font-size:16px; 
            color:black; 
            margin:0px 0px 20px 10px;
            padding:5px; 
            font-size:16px;
        }
        
        .card-title{font-size:16px;text-overflow: ellipsis;text-align:center; font-weight:bold;}
        
        .card-desc{font-size:14px;text-align:center;text-overflow: ellipsis;height:50px;}
        
        .card-image{
            max-height:300px; 
            margin:0px 0px 0px 10px;
            width:70%;
            margin-left:15%;
        }
        
        .card-image img {
            margin:auto;
            width:100%;
            height:100%;
        }
        
        .card-date{font-size:14px;text-align:center; }
        .card-date-closed{
            font-size:14px;
            text-align:center;
            margin:0px 0px 20px 0px;
            
        }
        .card-action{display:inline-block; margin:0px 0px 20px 0px;}
        
        
     
     
     /* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.popup img {
    width:40px;vertical-align:middle;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    max-width:100%;
    margin:auto;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.hoverImage{
    background-color:white;
}
.hoverImage:hover {
    background-color:lightgray;
    
}

#assignDiv {
    width: 100%;
    border: 1px solid black;
    display: -webkit-flex; /* Safari */
    display: flex;
}

/* Safari 6.1+ */
#assignDiv div:nth-of-type(1) {-webkit-flex-grow: 3;}
#assignDiv div:nth-of-type(2) {-webkit-flex-grow: 1;}
#assignDiv div:nth-of-type(3) {-webkit-flex-grow: 2;}

/* Standard syntax */
#assignDiv div:nth-of-type(1) {flex-grow: 3;}
#assignDiv div:nth-of-type(2) {flex-grow: 1;}
#assignDiv div:nth-of-type(3) {flex-grow: 2;}



 .wrapper {
        text-align: center;
    }
    .wrapper ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }
    .wrapper li {
        float: left;
        padding: 2px 5px;
        border: 1px solid black;
    }
    
    .card-1 .circle-box{
        float:left;
        width:10%;
        height:20%;
    }
    
    .card-1 .circle-box .circle{
        border: 2px solid black;
        border-radius: 50%;
        background-color:red;
        color:white;
    }
    
    .image-table {
        padding:20px 20px 20px 20px;
    }
    .image-table .circle-box{
        float:left;
        width:50%;
        height:60%;
    }
    
    .image-table .circle-box .circle{
        border: 2px solid black;
        border-radius: 50%;
        background-color:red;
        color:white;
    }
    

.typesList ul li span {
    color:white;
    cursor: pointer;
    border:2px solid black;
}   
.typesList ul li span:hover {
    background-color:#F8F8F8;
    border:2px solid charcoal;
    color:#36454F;
    cursor: pointer;
}

.mapBucket{
    width:300px;
    height:300px;
}

.txtLoading {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url('/Ticket_System_v2/Iconography/loadingGIF.gif') 50% 50% no-repeat rgb(249,249,249);
                opacity: .8;
            }
            /* Customize the label (the container) */
            .container-chkbox {
              /*display: block;*/
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            
            
            
            /* Hide the browser's default checkbox */
            .container-chkbox input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
            }
            /* Create a custom checkbox */
            .checkmark1 {
              position: absolute;
              top: 0;
              left: 0;
              height: 35px;
              width: 35px;
              background-color: #eee;
            }
            
            /* Create a custom checkbox */
            .checkmark2 {
              position: absolute;
              top: 0;
              left: 0;
              height: 35px;
              width: 35px;
              background-color: #eee;
            }
            
            /* Create a custom checkbox */
            .checkmark3 {
              position: absolute;
              top: 0;
              left: 0;
              height: 35px;
              width: 35px;
              background-color: #eee;
            }
            
            
            /* When the checkbox is checked, add a blue background */
            .container-chkbox input:checked ~ .checkmark1 {
              background-color: #194400;
            }
            
            .container-chkbox input:checked ~ .checkmark2 {
              background-color: #37721b;
            }
            
            .container-chkbox input:checked ~ .checkmark3 {
              background-color: red;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark1:after, .checkmark2:after, .checkmark3:after {
              content: "";
              position: absolute;
              display: none;
            }
            
            /* Show the checkmark when checked */
            .container-chkbox input:checked ~ .checkmark1:after , .container-chkbox input:checked ~ .checkmark2:after  , .container-chkbox input:checked ~ .checkmark3:after{
              display: block;
            }
            
            /* Style the checkmark/indicator */
            .container-chkbox .checkmark1:after,.container-chkbox .checkmark2:after,.container-chkbox .checkmark3:after {
              left: 9px;
              top: 5px;
              width: 12px;
              height: 20px;
              border: solid white;
              border-width: 0 6px 6px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            
            
            
            .typesList{
                margin-left:50px;
                text-align:center;
            }
            .typesList li{
                padding: 10px;
                text-align:center;
            }
            
            .pagination {
                background-color:#333;
            }
            
            .tableTicket table{
                vertical-align:top; 
                text-align:center;
                border-collapse:collapse;
                margin-top:30px;
                margin-left:auto;
                width:90%;
            }
            
            .tableTicket thead th{
                padding:20px; 

            }
            
            .tableTicket tbody{
                background-color: white;
            }
            
            .cardsList {
                
                margin-left:auto;
                width:100%;
            }
            
            .firstCell {
                width:20px;
            }
            
            .secondCell {
                padding:20px;
            }
            
            .lastCell {
                text-align:center;
            }
            
            .greyBorder {
                border:2px solid grey;
            }
            
            .ticketCells {
                text-align:left;
                padding:20px;
            }
            .ticketCellInfo{
                font-size:14px;
                text-overflow: ellipsis;
                text-align:center;
            }
            .ticketCellTitle{
                font-size:14px;text-overflow: ellipsis;text-align:center;
            }
            .ticketCellType{
                font-size: 16px; 
                color:black; 
                margin:0px 0px 20px 10px;
            }
            .ticketButtons {
                display:inline-block;
            }
            
            .unassignedList {
                margin-left: 100px;
                margin-right:100px
            }
            
            .unassignedType {
                font-size:22px;
                margin-left: 10px; 
                margin-top:0px;
                text-align:left;
            }
            
            .unassignedSpace {
                padding:10px; 
                overflow:visisble
            }
            
            .unassignedBtns {
                float:right;
            }
            
            .unassignedBtns label {
                font-size: 20px;
            }